
.div1 {
    padding: 10px;
    display: inline-block;
    border: 2px solid black;
    width: 21%;
    margin: 5px;
}

.form1 {
    margin: 35px;
    display: inline-block;
    border: 5px solid black;
    padding: 20px;
}

.productName {
    margin: 40px 40px;
}
